# Load Bitcoin values from csv

## Imports

In [1]:
import pandas as pd

from sqlalchemy import create_engine

## Read csv

In [2]:
df = pd.read_csv("Binance_BTCUSDT_minute.csv",sep=",")

/opt/anaconda3/envs/py38/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (0,3,4,5,6,7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.head()

                                                                                                                                    https://www.CryptoDataDownload.com
unix          date                symbol   open           high           low            close          Volume BTC  Volume USDT                              tradecount
1632274500000 2021-09-22 01:35:00 BTC/USDT 42040.78000000 42040.78000000 41979.41000000 41994.64000000 27.74585000 1165381.53575260                                369
1632274440000 2021-09-22 01:34:00 BTC/USDT 42002.19000000 42040.78000000 41959.68000000 42040.77000000 36.66869000 1539748.30687450                                746
1632274380000 2021-09-22 01:33:00 BTC/USDT 41975.75000000 42065.60000000 41939.12000000 42002.19000000 49.13863000 2063963.09308290                               1032
1632274320000 2021-09-22 01:32:00 BTC/USDT 41949.35000000 42008.23000000 41936.05000000 41975.74000000 49.22783000 2065699.71198440                                779

## Create df

In [5]:
first = True
values = []
for i, j in df.iterrows():
    if first == True:
        first = False
    else:
        values.append(i)

In [9]:
columns = ['unix', 'date', 'symbol', 'open', 'high', 'low', 'close', 'Volume BTC', 'Volume USDT']

In [10]:
df_values = pd.DataFrame(values, columns = columns)

In [11]:
df_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1066530 entries, 0 to 1066529
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   unix         1066530 non-null  object
 1   date         1066530 non-null  object
 2   symbol       1066530 non-null  object
 3   open         1066530 non-null  object
 4   high         1066530 non-null  object
 5   low          1066530 non-null  object
 6   close        1066530 non-null  object
 7   Volume BTC   1066530 non-null  object
 8   Volume USDT  1066530 non-null  object
dtypes: object(9)
memory usage: 73.2+ MB

In [13]:
df_values.head(2)

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT
0,1632274500000,2021-09-22 01:35:00,BTC/USDT,42040.78,42040.78,41979.41,41994.64,27.74585,1165381.5357526
1,1632274440000,2021-09-22 01:34:00,BTC/USDT,42002.19,42040.78,41959.68,42040.77,36.66869,1539748.3068745

In [14]:
df_values.open  = df_values.open.astype("float")
df_values.high  = df_values.high.astype("float")
df_values.low   = df_values.low.astype("float")
df_values.close  = df_values.close.astype("float")
df_values["Volume BTC"]   = df_values["Volume BTC"].astype("float")
df_values["Volume USDT"]  = df_values["Volume USDT"].astype("float")
df_values["date"] = pd.to_datetime(df_values["date"])

In [15]:
df_values = df_values.rename(columns={"Volume BTC": "volume_BTC", "Volume USDT": "volume_USDT"})

## Df to MySQL

In [20]:
en = create_engine('mysql+mysqlconnector://duinmat:$Mo/qdGSnX$MEi@oege.ie.hva.nl/zduinmat')

In [ ]:
df_values.to_sql("Bitcoin_values",con = en,if_exists='replace',chunksize=100000)