In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Binance_BTCUSDT_minute.csv",sep=",")

/opt/anaconda3/envs/py38/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (0,3,4,5,6,7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1066531 entries, ('unix', 'date', 'symbol', 'open', 'high', 'low', 'close', 'Volume BTC', 'Volume USDT') to (1567965420000, '2019-09-08 17:57:00', 'BTC/USDT', 10000.0, 10000.0, 10000.0, 10000.0, 0.001, 10.0)
Data columns (total 1 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   https://www.CryptoDataDownload.com  1066531 non-null  object
dtypes: object(1)
memory usage: 271.7+ MB

In [4]:
df.head()

                                                                                                                                    https://www.CryptoDataDownload.com
unix          date                symbol   open           high           low            close          Volume BTC  Volume USDT                              tradecount
1632274500000 2021-09-22 01:35:00 BTC/USDT 42040.78000000 42040.78000000 41979.41000000 41994.64000000 27.74585000 1165381.53575260                                369
1632274440000 2021-09-22 01:34:00 BTC/USDT 42002.19000000 42040.78000000 41959.68000000 42040.77000000 36.66869000 1539748.30687450                                746
1632274380000 2021-09-22 01:33:00 BTC/USDT 41975.75000000 42065.60000000 41939.12000000 42002.19000000 49.13863000 2063963.09308290                               1032
1632274320000 2021-09-22 01:32:00 BTC/USDT 41949.35000000 42008.23000000 41936.05000000 41975.74000000 49.22783000 2065699.71198440                                779

In [5]:
first = True
values = []
for i, j in df.iterrows():
    if first == True:
        first = False
    else:
        values.append(i)

In [9]:
columns = ['unix', 'date', 'symbol', 'open', 'high', 'low', 'close', 'Volume BTC', 'Volume USDT']

In [10]:
df_values = pd.DataFrame(values, columns = columns)

In [11]:
df_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1066530 entries, 0 to 1066529
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   unix         1066530 non-null  object
 1   date         1066530 non-null  object
 2   symbol       1066530 non-null  object
 3   open         1066530 non-null  object
 4   high         1066530 non-null  object
 5   low          1066530 non-null  object
 6   close        1066530 non-null  object
 7   Volume BTC   1066530 non-null  object
 8   Volume USDT  1066530 non-null  object
dtypes: object(9)
memory usage: 73.2+ MB

In [12]:
df_values.isna().sum()

unix           0
date           0
symbol         0
open           0
high           0
low            0
close          0
Volume BTC     0
Volume USDT    0
dtype: int64

In [13]:
df_values.head(2)

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT
0,1632274500000,2021-09-22 01:35:00,BTC/USDT,42040.78,42040.78,41979.41,41994.64,27.74585,1165381.5357526
1,1632274440000,2021-09-22 01:34:00,BTC/USDT,42002.19,42040.78,41959.68,42040.77,36.66869,1539748.3068745

In [14]:
df_values.open  = df_values.open.astype("float")
df_values.high  = df_values.high.astype("float")
df_values.low   = df_values.low.astype("float")
df_values.close  = df_values.close.astype("float")
df_values["Volume BTC"]   = df_values["Volume BTC"].astype("float")
df_values["Volume USDT"]  = df_values["Volume USDT"].astype("float")
df_values["date"] = pd.to_datetime(df_values["date"])

In [15]:
df_values = df_values.rename(columns={"Volume BTC": "volume_BTC", "Volume USDT": "volume_USDT"})

In [16]:
df_values

,unix,date,symbol,open,high,low,close,volume_BTC,volume_USDT
0,1632274500000,2021-09-22 01:35:00,BTC/USDT,42040.78,42040.78,41979.41,41994.64,27.74585,1.165382e+06
1,1632274440000,2021-09-22 01:34:00,BTC/USDT,42002.19,42040.78,41959.68,42040.77,36.66869,1.539748e+06
2,1632274380000,2021-09-22 01:33:00,BTC/USDT,41975.75,42065.60,41939.12,42002.19,49.13863,2.063963e+06
3,1632274320000,2021-09-22 01:32:00,BTC/USDT,41949.35,42008.23,41936.05,41975.74,49.22783,2.065700e+06
4,1632274260000,2021-09-22 01:31:00,BTC/USDT,42033.19,42034.73,41949.35,41949.35,36.46203,1.531169e+06
...,...,...,...,...,...,...,...,...,...
1066525,1567965660000,2019-09-08 18:01:00,BTC/USDT,10000.00,10000.00,10000.00,10000.00,0.00000,0.000000e+00
1066526,1567965600000,2019-09-08 18:00:00,BTC/USDT,10000.00,10000.00,10000.00,10000.00,0.00000,0.000000e+00
1066527,1567965540000,2019-09-08 17:59:00,BTC/USDT,10000.00,10000.00,10000.00,10000.00,0.00100,1.000000e+01
1066528,1567965480000,2019-09-08 17:58:00,BTC/USDT,10000.00,10000.00,10000.00,10000.00,0.00000,0.000000e+00
1066529,1567965420000,2019-09-08 17:57:00,BTC/USDT,10000.00,10000.00,10000.00,10000.00,0.00100,1.000000e+01

In [17]:
from sqlalchemy import create_engine

In [ ]:
#en = create_engine('mysql+mysqlconnector://root:amsterdam@localhost/Twitter')

In [ ]:
df_values.loc[:100000].to_sql("Bitcoin_values",con = en,if_exists='replace')

In [ ]:
df_values.loc[300001:600000].to_sql("Bitcoin_values",con = en,if_exists='append')

In [ ]:
df_values.loc[600001:900000].to_sql("Bitcoin_values",con = en,if_exists='append')

In [ ]:
df_values.loc[900001:].to_sql("Bitcoin_values",con = en,if_exists='append')

In [20]:
en = create_engine('mysql+mysqlconnector://duinmat:$Mo/qdGSnX$MEi@oege.ie.hva.nl/zduinmat')

In [21]:
k = -1
first = True 
for i in [100000,200000,300000,400000,500000,600000,700000,800000,900000,1000000]:
    if first == True:
        df_values.loc[k+1:i].to_sql("Bitcoin_values",con = en,if_exists='replace')
        first = False
    else:
        df_values.loc[k+1:i].to_sql("Bitcoin_values",con = en,if_exists='append')
    k = i
df_values.loc[1000001:].to_sql("Bitcoin_values",con = en,if_exists='append')

In [19]:
df_values

0          1.165382e+06
1          1.539748e+06
2          2.063963e+06
3          2.065700e+06
4          1.531169e+06
               ...
1066525    0.000000e+00
1066526    0.000000e+00
1066527    1.000000e+01
1066528    0.000000e+00
1066529    1.000000e+01
Name: volume_USDT, Length: 1066530, dtype: float64